body {
  * {
    font-family: "Inter", sans-serif;
  }
  height: 100vh;
  @include flex-center;
}

// Posts

.posts-container {
  @include flex-center;

  height: 500px;
  width: 500px;

  .post-container {
    @include flex-center;
    flex-direction: column;
  }

  .post-info {
    @include flex-center;
    flex-direction: column;
    gap: 5px;
  }

  .gif {
    height: 500px;
  }

  .post-container {
    gap: 15px;
  }

  .post-heading {
    font-size: 48px;
    font-weight: 700;
  }

  .post-text {
    font-size: 16px;
    font-weight: 700;
  }
}
